@page "/"
@using Microsoft.AspNetCore.Components.Routing

<PageTitle>Home</PageTitle>

<h1>Vergi Beyanname Takip Sistemi.</h1>

<p>
    Beyanname kayıtlarını görüntülemek ve test etmek için
    <NavLink href="/beyannameler" class="fw-bold text-primary" style="cursor:pointer;">
        buraya tıklayın
    </NavLink>.
</p>
