@page "/"
@using Microsoft.AspNetCore.Components.Routing
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<h1>@_localizer["AppTitle"]</h1>


    <h4>Ana Sayfa</h4>
   <p>Lütfen hesabınıza giriş yapınız. Eğer Hesabınız yoksa Kayıt Ol ekranından hesap oluşturunuz.</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var now = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
            Logger.LogInformation($"Log Home Test : {now}");
            StateHasChanged();
        }
    }
}
